.navbar {
    background-color: #36B37E;
}

.backciverpunk {
    background-color: #36B37E;
    /* background-image: url("../img/cyberpunk.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;  */
}

.bigcont {
    height: 100%;
}